<div class="container-fluid p-0 title-bg center d-flex align-items-end"
    style="background-image: url(assets/images/other/aussie10.JPEG);">
    <div class="bg-footer">
        <h1 class="py-4 center">Liter Notification</h1>
    </div>
</div>

<div class="container pt-5 pb-3 page-height center-y">
    <div class="col">

        <div class="row center">
            <h1 class="title pb-4">Liter Notification:</h1>
        </div>
        <div class="row">
            <h5 class="wht-color col-sm-12 col-lg-6 m-auto no-pad pb-1 px-2">Enter Email:</h5>
        </div>
        <div class="row d-flex justify-content-center pb-3 px-3">
            <input aria-label="Email" type="text" placeholder="Email"
                class="col-sm-12 col-lg-6 input-style p-1">
        </div>
        
        <div class="row center pb-3">
            <button class="btn btn-dark font-weight-bold submitBtn px-4">Submit</button>
        </div>
    </div>
</div>