.title-bg {
  height: 75vh;
  // background-attachment: fixed;
  // background-position: center;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  z-index: 1;
  -webkit-box-shadow: 0 8px 6px -5px black;
  -moz-box-shadow: 0 8px 6px -5px black;
  box-shadow: 0 8px 6px -5px black;
}

.bg-footer {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  border-top: 2px solid #6cc1ff;

  h1 {
    color: white;
    z-index: 2;
    margin: 0px;
    font-size: 24px;
  }
}

.puppy-img {
  border: 2px solid #6cc1ff;
  border-radius: 5px;
}

.input-style {
  // width: 50%;
  font-size: 18px;
  // font-weight: bold;
  border-radius: 5px;
  border: 2px solid black;
  //   color: white;
}

.checkout-btn{
    font-size: 18px;
    border: 3px solid rgb(48, 48, 48);
}