<div class="container-fluid p-0 title-bg center d-flex align-items-end"
    style="background-image: url(assets/images/other/aussie10.JPEG);">
    <div class="bg-footer">
        <h1 class="py-4 center">Reservation Checkout</h1>
    </div>
</div>

<div class="container bg-white pt-5">

    <h3 class="center pb-4">Name Here</h3>
    <div class="row pb-5">

        <div class="col-12 col-lg-6 center-y pb-3">
            <img src="/assets/images/other/aussie6.JPEG" alt="name" class="img-fluid puppy-img">
        </div>

        <div class="col-12 col-lg-6">
            
            <h4 class="center">Information:</h4>

            <input aria-label="Email" type="text" placeholder="Email" class="col-12 input-style p-1 mb-3 mt-3">
            
            <input aria-label="Address" type="text" placeholder="Address" class="col-12 input-style p-1 mb-3">

            <div class="row no-pad no-margin">
                <div class="col-12 col-md-6 m-0 p-0 pr-md-1 pr-sm-0 pt-md-0 pb-3">
                    <input aria-label="City" type="text" placeholder="City" class="col input-style p-1">
                </div>
                <div class="col-12 col-md-6 m-0 p-0 pl-md-1 pl-sm-0 pt-md-0 pb-3">
                    <input aria-label="State" type="text" placeholder="State" class="col input-style p-1">
                </div>
            </div>
            
            <div class="row no-pad no-margin">
                <div class="col-12 col-md-6 m-0 p-0 pr-md-1 pr-sm-0 pt-md-0 pb-3">
                    <input aria-label="Zip Code" type="text" placeholder="Zip Code" class="col input-style p-1">
                </div>
                <div class="col-12 col-md-6 m-0 p-0 pl-md-1 pl-sm-0 pt-md-0 pb-3">
                    <input aria-label="Phone Number" type="text" placeholder="Phone Number" class="col input-style p-1">
                </div>
            </div>



            <input aria-label="Email" type="text" placeholder="Other???" class="col-12 input-style p-1 mb-3">

            <div class="row p-0 center">
                <button class="btn btn-secondary px-4 checkout-btn">Checkout</button>
            </div>
        </div>

    </div>
</div>