@font-face {
  font-family: pacifico-font;
  src: url("/assets/fonts/Pacifico-Regular.ttf");
}

.nav-item {
  // background-color: unset;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  font-weight: bold;
  color: #6cc1ff;
  font-size: 18px;
}
.nav-item:hover {
  background-color: rgb(44, 44, 44);
  border: 1px solid #6cc1ff;
  font-size: 20px;
}

.dropdown-menu {
  background-color: rgb(31, 31, 31);
  a {
    font-weight: bold;
    color: white;
  }
}
.dropdown-menu a:hover {
  font-weight: bold;
  color: rgb(31, 31, 31);
}

.navbar {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
}

.nav-logo {
  width: fit-content;
  background-color: rgb(58, 58, 58);
  color: rgb(224, 224, 224);
  font-family: pacifico-font;
  border: 2px groove #6cc1ff;
  border-radius: 3px;
  text-decoration: none;
  min-width: 145px;
}

.nav-social-img {
  width: 36px;
  height: 36px;
  border-radius: 3px;
  // border: 1px solid #6cc1ff;
  padding: 6px;
  cursor: pointer;
}
.nav-social-img:hover {
  background-color: rgb(61, 61, 61);
  border: 1px solid #6cc1ff;
  padding: 3px;
}

.menu-img {
  padding: 5px;
  margin-left: 28px;
  border: 1px solid #6cc1ff;
  border-radius: 2px;
  background-color: rgb(20, 20, 20);
  width: 3rem;
  height: 3rem;
}
// .menu-img:hover{
//     padding: 4px;
//     background-color: rgb(48, 48, 48);
// }

.around{
  display: flex;
  justify-content: space-around;
}
