<div class="navbar sticky-top">
    <div class="row" style="width: 100%;">


        <!-- <div *ngIf="buttonBool" (click)="navBtnClick()" class="btn btn-primary">...</div> -->

        <div class="col-12 col-lg no-pad no-margin px-3 center center-y">
            <img *ngIf="buttonBool" (click)="navBtnClick()" class="menu-img mr-auto"
                src="/assets/images/hamburgerMenu.png" alt="">
            <a href="#" class="nav-logo px-2">
                <div class="col">
                    <div class="row">
                        Mokelumne River
                    </div>

                    <div class="row center">
                        Mini Aussies
                    </div>
                </div>
            </a>
        </div>



        <div *ngIf="navBool" class="col-12 col-lg no-pad no-margin center center-y">
            <div class="">
                <div class="btn nav-item" type="button">
                    Home
                </div>
            </div>
        </div>

        <div *ngIf="navBool" class="col-12 col-lg no-pad no-margin center center-y">
            <div class="dropdown">
                <div class="btn nav-item dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    About Us
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">About Us</a>
                    <a class="dropdown-item" href="#">Parent Dogs</a>
                    <a class="dropdown-item" href="#">Previous Puppies</a>
                </div>
            </div>
        </div>

        <div *ngIf="navBool" class="col-12 col-lg no-pad no-margin center center-y">
            <div class="dropdown">
                <div class="btn nav-item dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Puppies
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Available Puppies</a>
                    <a class="dropdown-item" href="#">Reserve A Future Puppy</a>
                </div>
            </div>
        </div>

        <div *ngIf="navBool" class="col-12 col-lg no-pad no-margin center center-y">
            <div class="">
                <div class="btn nav-item" type="button">
                    Contact Us
                </div>
            </div>
        </div>

        <!-- <div *ngIf="navBool" class="col-12 col-lg no-pad no-margin center center-y">
            <div class="dropdown">
                <div class="btn nav-item dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Contact Us
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div> -->

        <div *ngIf="navBool" class="col-12 col-lg no-pad no-margin center">
            <div class="no-pad no-margin d-flex justify-content-between center-y" style="width: 150px;">
                <a class="no-pad no-margin" href="https://www.facebook.com/" target="_blank">
                    <img class="center-y nav-social-img" src="/assets/images/facebook.png" alt="">
                </a>
                <a class="no-pad no-margin" href="https://www.pinterest.com/" target="_blank">
                    <img class="center-y nav-social-img" src="/assets/images/pinterest.png" alt="">
                </a>
                <a class="no-pad no-margin" href="https://twitter.com/" target="_blank">
                    <img class="center-y nav-social-img" src="/assets/images/twitter.png" alt="">
                </a>
            </div>
        </div>



    </div>
</div>