<div class="navbar sticky-top around">

        <!-- <div *ngIf="buttonBool" (click)="navBtnClick()" class="btn btn-primary">...</div> -->

        <div class="col-12 col-lg no-pad center center-y">
            <img *ngIf="buttonBool" (click)="navBtnClick()" class="menu-img mr-auto"
                src="/assets/images/icons/hamburgerMenu.png" alt="">
                
            <a routerLink="home" class="nav-logo px-2">
                <div class="col">
                    <div class="row">
                        Mokelumne River
                    </div>

                    <div class="row center">
                        Mini Aussies
                    </div>
                </div>
            </a>
        </div>



        <div *ngIf="navBool" class="col-12 col-lg no-pad no-margin center center-y">
            <div class="">
                <div routerLink="home" class="nav-item">
                    Home
                </div>
            </div>
        </div>

        <div *ngIf="navBool" class="col-12 col-lg no-pad no-margin center center-y">
            <div class="dropdown">
                <div class="nav-item dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    About Us
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a routerLink="aboutUs" class="dropdown-item">About Us</a>
                    <a routerLink="parents" class="dropdown-item">Parent Dogs</a>
                    <a routerLink="gallery" class="dropdown-item">Previous Puppies</a>
                </div>
            </div>
        </div>

        <div *ngIf="navBool" class="col-12 col-lg no-pad no-margin center center-y">
            <div class="dropdown">
                <div class="nav-item dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Puppies
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a routerLink="availablePuppies" class="dropdown-item">Available Puppies</a>
                    <a routerLink="reserveFuture" class="dropdown-item">Future Litter Notification</a>
                </div>
            </div>
        </div>

        <div *ngIf="navBool" class="col-12 col-lg no-pad no-margin center center-y">
            <div class="">
                <div routerLink="contact" class="nav-item">
                    Contact Us
                </div>
            </div>
        </div>

        <!-- <div *ngIf="navBool" class="col-12 col-lg no-pad no-margin center center-y">
            <div class="dropdown">
                <div class="btn nav-item dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Contact Us
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div> -->

        <div *ngIf="navBool" class="col-12 col-lg no-pad no-margin center">
            <div class="no-pad no-margin d-flex justify-content-between center-y" style="width: 150px;">
                <a class="no-pad no-margin" href="https://www.facebook.com/" target="_blank">
                    <img class="center-y nav-social-img" src="/assets/images/icons/facebook.png" alt="">
                </a>
                <a class="no-pad no-margin" href="https://www.pinterest.com/" target="_blank">
                    <img class="center-y nav-social-img" src="/assets/images/icons/pinterest.png" alt="">
                </a>
                <a class="no-pad no-margin" href="https://twitter.com/" target="_blank">
                    <img class="center-y nav-social-img" src="/assets/images/icons/twitter.png" alt="">
                </a>
            </div>
        </div>



</div>