<div class="container-fluid p-0 title-bg center d-flex align-items-end"
    style="background-image: url(assets/images/other/aussie10.JPEG);">
    <div class="bg-footer">
        <h1 class="py-4 center">Contact Us</h1>
    </div>
</div>

<div class="container pt-5 pb-3">
    <div class="col page-height">
        <h1 class="center text-white">Contact Form:</h1>
        <div class="row p-0 pb-3 pt-2 center">
            <div class="p-0 pr-lg-1 col-12 col-lg-6">
                <h5 class="wht-color m-auto no-pad pb-1 pl-3">Email</h5>
                <input aria-label="Email" type="text" placeholder="Email" class="col-12 input-style p-1">
            </div>
            <div class="p-0 pl-lg-1 col-12 col-lg-2">
                <h5 class="wht-color m-auto no-pad pb-1 pl-3">Topic</h5>
                <div class="dropdown col-12 p-1 input-style bg-white center">
                    <div class="dropdown-toggle" id="topic" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Topic
                    </div>
                    <div class="dropdown-menu" aria-labelledby="topic">
                        <a class="dropdown-item">Other</a>
                        <a class="dropdown-item">Other</a>
                        <a class="dropdown-item">Other</a>
                    </div>
                </div>
            </div>
        </div>

        <h5 class="wht-color col-sm-12 col-lg-8 m-auto no-pad pb-1">What Do I Put?</h5>
        <div class="row d-flex justify-content-center pb-3">
            <div class="input-group col-sm-12 col-lg-8 input-style p-0 center">
                <textarea maxlength="500" class="form-control" aria-label="With textarea"></textarea>
            </div>
        </div>

        <div class="row d-flex justify-content-center pb-3">
            <button class="btn btn-dark font-weight-bold submitBtn px-4">Submit</button>
        </div>
    </div>
</div>