<div class="home-footer center">
    <div class="row p-0 m-0">

        <div class="col mx-5 pt-5 pb-md-4 pb-0">
            <div class="row center">
                <a href="https://github.com/Burns316" target="_blank">
                    <img src="/assets/images/GitHub-Mark-Light-120px-plus.png" height="100px" alt="Github Icon">
                </a>
            </div>
            <div class="row center">
                <p class="footer-font p-2">Link to My Github</p>
            </div>
        </div>

        <div class="col mx-5 pt-5 pb-md-4 pb-0">
            <div class="row center">
                <a href="https://app.slack.com/client/TBDKC906B/GNQS0P8D8/user_profile/UMMSMQXSP" target="_blank">
                    <img src="/assets/images/SlackIcon.png" alt="Slack Icon" height="100px">
                </a>
            </div>
            <div class="row center">
                <p class="footer-font p-2">Link to My Slack</p>
            </div>
        </div>

        <div class="col mx-5 pt-5 pb-4">
            <div class="row center">
                <a href="https://www.twitter.com" target="_blank">
                    <img src="/assets/images/Twitter-Icon.png" alt="Twitter Icon" height="100px">
                </a>
            </div>
            <div class="row center">
                <p class="footer-font p-2">Link to Twitter</p>
            </div>
        </div>

        <div class="col mx-5 pt-5 pb-4">
            <div class="row center">
                <a href="https://www.facebook.com" target="_blank">
                    <img src="/assets/images/Facebook-Icon.png" alt="Facebook Icon" height="100px">
                </a>
            </div>
            <div class="row center">
                <p class="footer-font p-2">Link to Facebook</p>
            </div>
        </div>

    </div>
</div>