<div class="container-fluid footer center-y">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>

            <div class="col center center-y p-0">
                <div class="row p-0">
                    <!-- <img src="/assets/images/logos/ASDRLogo.png" class="img-fluid bg-white"> -->
                </div>

                <div class="row p-0">

                    <a class="no-pad no-margin" href="https://www.facebook.com/" target="_blank">
                        <img class="nav-social-img" src="/assets/images/icons/facebook.png" alt="">
                    </a>
                    <a class="no-pad no-margin" href="https://www.pinterest.com/" target="_blank">
                        <img class="nav-social-img" src="/assets/images/icons/pinterest.png" alt="">
                    </a>
                    <a class="no-pad no-margin" href="https://twitter.com/" target="_blank">
                        <img class="nav-social-img" src="/assets/images/icons/twitter.png" alt="">
                    </a>

                </div>
            </div>
            <div class="col center">
                <div class="no-pad no-margin center center-y" alt="AKC Logo" style="padding: 1vw;">
                    <img src="/assets/images/logos/akcLogo.png" class="img-fluid akcLogo bg-white">
                </div>
            </div>
        </div>
    </div>

</div>