<div class="hero-img p-0 pb-4 m-0">
    <div class="col-12 no-pad p-3 center">
        <h1>About Me</h1>
    </div>
    <div class=" p-3 center">
        <div class="col-12 col-md-11 col-lg-6 d-flex justify-content-center my-card">

            <div class="row">

                <div class="col-12 col-md-6 no-pad no-margin white-bg">
                    <div class="row center p-2 m-0">
                        <img class="avitar img-fluid" src="/assets/images/ProfilePic3.png" alt="avitar">
                    </div>
                    <div class="row center mx-1">
                        <h3 class="font-weight-bold">Robert Burns</h3>
                    </div>
                    <div class="row center mx-1">
                        <h6>Software Engineering Student</h6>
                    </div>
                    <hr class="mt-0 orange-hr">
                </div>

                <div class="col-12 col-md-6 no-pad no-margin orange-bg d-flex align-items-center">
                    <!-- <div class="row"> -->

                    <div class="row no-pad no-margin center p-2">
                        <div class="col-12 no-pad my-3 center">
                            <h4>Contact:</h4>
                        </div>

                        <div class="col-2 no-pad mb-3">
                            <img class="img-fluid bg-white about-icons" src="/assets/images/email2.png" alt="email">
                        </div>
                        <div class="col-10 no-pad no-margin">
                            <p>robertburns316@gmail.com</p>
                        </div>

                        <div class="col-2 no-pad mb-3">
                            <img class="img-fluid bg-white about-icons" src="/assets/images/call2.png" alt="email">
                        </div>
                        <div class="col-10 no-pad no-margin">
                            <p>1-234-5678</p>
                        </div>

                        <div class="col-2 no-pad mb-3">
                            <img class="img-fluid bg-white about-icons" src="/assets/images/facebook2.png" alt="email">
                        </div>
                        <div class="col-10 no-pad no-margin">
                            <p><a href="https://www.facebook.com" target="_blank" style="color: white;">Follow me on Facebook</a></p>
                        </div>

                        <div class="col-2 no-pad mb-3">
                            <img class="img-fluid bg-white about-icons" src="/assets/images/facebook2.png" alt="email">
                        </div>
                        <div class="col-10 no-pad no-margin">
                            <p><a href="https://github.com/Burns316" target="_blank" style="color: white;">My Github</a></p>
                        </div>
                    </div>

                    <!-- </div> -->

                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    
    <div class="row no-pad no-margin px-2 py-5 d-flex justify-content-around">

        <div class="col-3 no-pad no-margin center pb-4">
            <img src="/assets/images/logos/bootstrap-logo.png" class="about-logos" alt="logo">
        </div>

        <div class="col-3 no-pad no-margin center pb-4">
            <img src="/assets/images/logos/ng-bootstrap-logo.png" class="about-logos" alt="logo">
        </div>

        <div class="col-3 no-pad no-margin center pb-4">
            <img src="/assets/images/logos/angular-logo.png" class="about-logos" alt="logo">
        </div>
        
        <div class="col-3 no-pad no-margin center pb-4">
            <img src="/assets/images/logos/angular-material-logo.jpg" class="about-logos" alt="logo">
        </div>

        <div class="col-3 no-pad no-margin center pb-4">
            <img src="/assets/images/logos/cSharp-logo.png" class="about-logos" alt="logo">
        </div>

        <div class="col-3 no-pad no-margin center pb-4">
            <img src="/assets/images/logos/javascript-logo.png" class="about-logos" alt="logo">
        </div>

        <div class="col-3 no-pad no-margin center pb-4">
            <img src="/assets/images/logos/prime-ng-logo.png" class="about-logos" alt="logo">
        </div>

        <div class="col-3 no-pad no-margin center pb-4">
            <img src="/assets/images/logos/typescript-logo.png" class="about-logos" alt="logo">
        </div>

    </div>
    
</div>













<!-- <div class="row center p-2">
    <img class="avitar img-fluid" src="/assets/images/ProfilePic3.png" alt="avitar">
</div>
<div class="row center">
    <h3 class="font-weight-bold">Robert Burns</h3>
</div>
<div class="row center">
    <h6>Software Engineering Student</h6>
</div>
<hr class="mt-0 orange-hr"> -->

<!-- <div class="row no-pad no-margin">
    <div class="col-2 p-0 no-margin">
        <img class="img-fluid" style="width: 24px;" src="/assets/images/SlackIcon.png" alt="email">
    </div>
    <div class="col-8 p-0 no-margin">
        ASDF
    </div>
</div> -->