.dashboard{
    background-color: rgb(238, 238, 238);
}

.dragDrop{
    border: 3px dashed rgb(104, 104, 104);
    background-color: white;
}

.hr{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: .3px;
    border-top: 1px solid rgb(143, 143, 143);
    border-bottom: 1px solid rgb(39, 39, 39);
}

.dashboard-input{
    border: 1.5px solid gray;
    border-radius: 2px;
    font-size: 18px;
    background-color: white;
}

.btn-secondary{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(77, 77, 77);
}

.bgBlue{
    // border-left: 2px solid #4c4c4c;
    // border-right: 2px solid #4c4c4c;
    // border-top: 2px solid #4c4c4c;
    border-bottom: 2px solid #4c4c4c;
    background-color: #73bff6;
}

.tiny-txt{
    font-size: 10px;
}

.trash-button{
    cursor: pointer;
}

.my-hr{
    padding-top: 1px;
    border-top: 1px solid rgb(56, 56, 56);
    border-bottom: 1px solid rgb(56, 56, 56);
}

.updateHover{
    background-color: white;
    cursor: pointer;
}
.updateHover:hover{
    background-color: rgb(243, 243, 243);
}